/* Start variables */
:root {
  --main-back-color: #212121;
  --main-color: #ffb344;
  --text-color: #f6f6f6;
  --paragraph-color: #99a799;
  --hover-transition: 0.4s ease;
  --padding-section: 40px;
  --heading-color: #393e46;
}
/* End variables */

/* Start Header */
header {
  width: 100%;
  height: 70vh;
  background-color: var(--main-back-color);
  background-image: url("../Images/reservation-header-back.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
header .over-lay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
}
header .intro-text {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  color: var(--text-color);
  width: 100%;
}
header .intro-text p {
  color: var(--text-color);
  text-align: center;
  margin: 0;
}
header .intro-text p:first-of-type {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1.3;
  margin-bottom: 8px;
}
header .intro-text p:last-of-type {
  font-size: 30px;
  font-weight: 300;
}
/* End Header */

/* Start Reservation */
.reservation {
  min-height: 50vh;
  padding: var(--padding-section) 0;
}
.reservation form.book {
  width: 100%;
  margin: 35px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reservation form.book > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
}
.reservation form.book > div i {
  position: absolute;
  font-size: 19px;
  right: 13px;
  top: 35px;
  color: var(--main-color);
}
.reservation form.book label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--heading-color);
}
.reservation form.book input:not([type="submit"]) {
  padding: 10px 35px 10px 10px;
  border: none;
  background-color: #eeeeee;
  outline: none;
}
.reservation form.book input[type="submit"] {
  background-color: var(--main-color);
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-weight: 500;
  cursor: pointer;
  margin: 0 auto;
}
.reservation p.info {
  width: 75%;
  text-align: center;
  margin: 20px auto;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 400;
  color: var(--paragraph-color);
}
.reservation p.info > span {
  color: var(--heading-color);
  font-weight: 900;
}
@media screen and (min-width: 592px) {
  .reservation form.book {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .reservation form.book > div {
    width: 48%;
  }
}
@media screen and (min-width: 768px) {
  .reservation form.book > div {
    width: 30%;
  }
}
/* End Reservation */
